<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ゴーヤインフォ</title>
  </head>
  <body>
    <h1>ミッション：ゴーヤ情報</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <p>--------------</p>
    <% result = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya1.cgi" method="POST">
      ★自家消費以外の譲渡先を表示します。<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" value="表示">
    </form>
    <br>
    <% result = connection.exec("select * from crops where quality = false;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya2.cgi" method="POST">
      ★品質の良いゴーヤの情報を表示します。<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" value="表示">
    </form>
  </body>
</html>
